{% extends "base.html" %}
{% block content %}
  <section class="image intro first login bottom-dark-gray" style="background-image:url('/media/static/images/login.jpg');">
    <div class="container">
      <div class="intro">
        <h2>The Ascent Jet Difference</h2>
        <p>
          Your requests for offer are monitored by Ascent Jet and sent to those operators most likely to satisfy your request at the most competitive prices. We blend the latest technologies with full service.
        </p>
      </div>
      <div class="login">
        <div ng-view></div>
      </div>
    </div>
  </section>
{% endblock %}
