
<div class="last-skew white"></div>

<div class="details-content">
  <h2>My Account</h2>
  <div class="sidebar">
    <h3>Account information</h3>
  </div>
  <div class="main login">
    <form name="updateAccount" class="account" ng-submit="update(updateAccount.$valid)" novalidate>
      <p ng-show="saved" class="error indent">
        Profile updated
      </p>
      <p ng-show="submitted && updateAccount.$invalid" class="alert alert-danger error-message indent">
        Error message goes here
      </p>
      <p>
        <label>Title</label>
        <input type="radio" name="title" ng-model="account.customerInfo.title" value="Mr" id="title-1"><label for="title-1" class="stacked">Mr</label>
        <input type="radio" name="title" ng-model="account.customerInfo.title" value="Mrs" id="title-2"><label for="title-2" class="stacked">Mrs</label>
        <input type="radio" name="title" ng-model="account.customerInfo.title" value="Ms" id="title-3"><label for="title-3" class="stacked">Ms</label>
      </p>
      <p>
        <label for="first-name">First name</label>
        <input type="text" name="first_name" ng-model="account.customerInfo.firstName" placeholder="required" id="first-name" required />
      </p>
      <p>
        <label for="last-name">Last name</label>
        <input type="text" name="first_name" ng-model="account.customerInfo.lastName" placeholder="required" id="last-name" required />
      </p>
      <p>
        <label for="company">Company</label>
        <input type="text" name="company" ng-model="account.customerInfo.company" placeholder="optional" id="company" />
      </p>
      <p>
        <label for="phone">Daytime phone</label>
        <input type="text" name="phone" ng-model="account.customerInfo.dayTimePhone" placeholder="optional" id="phone" />
      </p>
      <p>
        <label for="mobile">Mobile phone</label>
        <input type="text" name="mobile" ng-model="account.customerInfo.alternatePhone" placeholder="optional" id="mobile" />
      </p>
      <p>
        <label for="address1">Address 1</label>
        <input type="text" name="address" ng-model="account.customerInfo.address" placeholder="required" id="address" required />
      </p>
      <p>
        <label for="address2">Address 2</label>
        <input type="text" name="address2" ng-model="account.customerInfo.address2" placeholder="optional" id="address2" />
      </p>
      <p>
        <span class="city">
          <label for="city">City</label>
          <input type="text" name="city" ng-model="account.customerInfo.city" placeholder="required" id="city" required />
        </span>
        <span class="zip">
          <label for="zip">Postal code</label>
          <input type="text" name="zipCode" ng-model="account.customerInfo.zipCode" placeholder="required" id="zipCode" required />
        </span>
      </p>
      <p class="dark">
        <label for="country">Country</label>
        <span class="selectize-style">
          <ui-select ng-model="account.customerInfo.countryId" ng-click="onSelect()" theme="selectize" required>
            <ui-select-match placeholder="Choose country">[[ $select.selected.name ]]</ui-select-match>
            <ui-select-choices repeat="item.id as item in countries | filter: $select.search" refresh="refreshCountries($select.countries)" refresh-delay="0">
              [[ item.name ]]
            </ui-select-choices>
          </ui-select>
        </span>
      </p>
      <p class="indent">
        <input ng-click="submitted=true" type="submit" name="submit" value="Update profile" class="btn" />
        <a href="/" class="btn empty">Cancel</a>
      </p>
    </form>

    <div ng-if="additionalForm">
    <!-- change a password -->
    <div class="pass-change-form">
        <form class="login" name="passwordUpdateForm" id="passwordUpdateForm" ng-submit="updatePassword(passwordUpdateForm.$valid)" novalidate>
          <div ng-show="passMatch" class="alert alert-danger error-message">
            <div>
              The password entered do not match
            </div>
          </div>
          <div class="update-form">
            <div class="update-label">
                <label class="pass-update-label" for="password" ng-click="passUpdateShow();">Change password</label>
            </div>
            <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
            <input style="display:none" type="text" name="fakeusernameremembered"/>
            <input style="display:none" type="password" name="fakepasswordremembered"/>
            <div class="passform-showhide" style="display: none">
                <div ng-if="!passwordUpdated">
                    <input type="password" name="password" ng-model="accountCredential.password" id="password" placeholder="Minimum 6 alphanumeric chars" equals="[[fake.repeat_password]]" ng-pattern="/^[a-zA-Z0-9]{6,}$/" ng-minlength="6" required />
                    <input type="password" style="float: right;" name="repeat_password" ng-model="fake.repeat_password" placeholder="Confirm password" id="repeat_password" equals="[[accountCredential.password]]" ng-minlength="6" required />
                    <input type="submit" name="submit" value="Reset password" class="btn password-update" />
                    <a href="/profile/#/edit" ng-click="cancel('password', passwordUpdateForm)" class="btn empty">Cancel</a>
                </div>
                <div ng-if="passwordUpdated" style="margin-top: 10px;">
                  <p class="center">
                    The password was updated successfully.
                  </p>
                </div>
            </div>
          </div>
        </form>
    </div>
    <!-- change a email -->
    <div class="email-change-form">
        <form class="login" name="emailUpdateForm" id="emailUpdateForm" ng-submit="updateEmail(emailUpdateForm.$valid, emailUpdateForm)" novalidate>
          <div ng-show="emailMatch" class="alert alert-danger error-message">
            <div>
              The email entered do not match
            </div>
          </div>
          <div class="update-form">
            <div class="update-label">
              <label class="email-update-label" for="email" ng-click="emailUpdateShow();">Change email</label>
            </div>
            <div class="emailform-showhide" style="display: none">
                <div ng-if="!emailUpdated">
                    <input name="email" type="email" ng-model="accountCredential.email" placeholder="Enter new email" id="email" equals="[[ confirm.email ]]" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required>
                    <input name="confirm-email" type="email" style="float: right;" placeholder="Confirm email"ng-model="confirm.email" id="confirm-email" equals="[[ accountCredential.email ]]" required>
                    <input type="submit" name="submit" value="Reset email" class="btn email-update" />
                    <a href="/profile/#/edit" ng-click="cancel('email', passwordUpdateForm)" class="btn empty">Cancel</a>
                </div>
                <div ng-if="emailUpdated" style="margin-top: 10px;">
                  <p class="center">
                    The email was updated successfully.
                  </p>
                </div>
            </div>
          </div>
        </form>
    </div>
    </div>
  </div>

</div>
