<form class="login" name="passwordForm" ng-submit="send(passwordForm.$valid)" novalidate>
  <h2>Forgotten password</h2>
  <p class="error indent" ng-show="!response.success">
    [[ response.errorMessage ]]
  </p>
  <div ng-show="isMatch" class="alert alert-danger error-message">
    <div>
      The email address entered do not match
    </div>
  </div>
  <p></p>
  <p>
    <label for="email">Email</label>
    <input name="email" type="email" ng-model="account.email" id="email" equals="[[ confirm.email ]]" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
  </p>
  <p>
    <label for="confirm-email">Confirm Email</label>
    <input name="confirm-email" type="email" ng-model="confirm.email" id="confirm-email" equals="[[ account.email ]]" required>
  </p>
  <p class="indent">
    <input type="submit" name="submit" value="Reset password" class="btn password" />
  </p>
</form>
<div class="last-skew white"></div>
