<form class="login" name="passwordResetForm" ng-submit="send(passwordResetForm.$valid)" novalidate>
  <h2>Reset your password</h2>
  <p class="error indent" ng-show="!response.success">
    [[ response.errorMessage ]]
  </p>
  <div ng-show="isMatch" class="alert alert-danger error-message">
    <div>
      The password entered do not match
    </div>
  </div>
  <p></p>
  <p class="forgotten-password">
    <label for="password">Password</label>
    <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
    <input style="display:none" type="text" name="fakeusernameremembered"/>
    <input style="display:none" type="password" name="fakepasswordremembered"/>
    <input type="password" name="password" ng-model="account.password" id="password" placeholder="Minimum 6 alphanumeric chars" equals="[[fake.repeat_password]]" ng-pattern="/^[a-zA-Z0-9]{6,}$/" ng-minlength="6" required />
  </p>
  <p>
    <label for="repeat_password">Repeat password</label>
    <input type="password" name="repeat_password" ng-model="fake.repeat_password" id="repeat_password" placeholder="confirm password" equals="[[account.password]]" ng-minlength="6" required />
  </p>
  <p class="indent">
    <input type="submit" name="submit" value="Reset password" class="btn" />
  </p>
</form>
<div class="last-skew white"></div>
